{
    "frontend/**/*.{js,jsx,ts,tsx}": [
        "npx eslint frontend/ --fix --config frontend/eslint.config.js"
    ],
    "backend/**/*.{js,jsx,ts,tsx}": [
        "npx eslint backend/ --fix --config backend/eslint.config.mjs"
    ],
    "**/*.{js,jsx,ts,tsx}": [
        "prettier -w"
    ],
    "**/*.{html,json,css,scss,md,mdx}": [
        "prettier -w"
    ]
}